*{
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    

}
.headleft{
    display: flex;
    align-items: center;
}
  .headleft > img{

    width:60px;
    height: 60px;
}
.headcenter{
    display: flex;
    gap: 20px;
}
.header a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.headcenter a:hover{
    text-decoration: underline;
    color: blueviolet;
}
.headright > img{
    width: 70px;
    height: 70px;

}
.menu{
    display: flex;
   justify-content: center;
    padding: 10px;
   gap: 30px;
   border-radius: 10px;
   

}
.dish1 > img,.dish2 > img,.dish3 > img{
width: 100%;
height: 80%;
}
.dish1,.dish2,.dish3{
    
    padding: 5px;
    width: 300px;
    height: 450px;
    gap: 20px; 
    border-radius: 10px;
    
}
    .dishlower{
    display: flex;
    
    align-items: center;

}
.dishlower > a{
    
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.dishlower a:hover{
    text-decoration: underline;
    color: blueviolet;
}
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.category1{
    margin: 40px 0px; 
    padding: 20px;
    background-color: cadetblue;
    text-align: center;

    
}
.category2{
    display: flex;
    justify-content: center;
    gap:30px ;
}
.item1,.item2,.item3{
    width: 300px;
    height: 400px;
    position: relative;
}
.item1 > img,.item2 > img,.item3 > img{
    width:100% ;
    height: 100%;
    
} 
.item1 > p, .item2 > p,.item3 > p{
position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size:1.6rem;
    background-color: black;
    color: white;
    padding: 4px 6px;
    transform: translate(-50%,-50%);
}